*{
	margin: 0;
	padding: 0;

}

body{
	background-image: url("img/background.jpeg");
	background-size: cover;
}

.Menü{
	width: 1920px;
	height:50px;
	background-color:#E7B6D6;
	margin-bottom: auto;

	text-align: center;
}
.Menü ul li{
	float: left;
	list-style-type: none;
}
.Menü ul li a{
	
	color:deeppink;
	font-size: 17px;
	text-decoration: none;
	display: block;
	width: 246.666667px;
	height: 50px;
	line-height:50px;
	text-align: center;
	border-bottom: 1px inset pink;
}
.Menü ul li a:hover{
	background-color:#8E00CB;
	color:#FFFF;
}
#yazı{
	font-size: 15px;
	margin-top:20px;
	text-align: justify;
	
}
#footer{
	margin-top:20px;
	margin-left: 550px;
	width: 500px;
	background-color: #F04BA2;
	color:#FFFF;
	font-size:13px;
	margin-top: 10px;

	
}
#logo{ 
	width: 50px;
	height: 60px;
	float: left;
	position:absolute;
	top:0px;
    left: 0px;
}
#ucuslar-content{
	position: absolute;
	z-index: 1;
	display: none;
	margin-top: -15px;
	margin-left: 10px;
	width: 100px;
}
.ucuslar-li:hover #ucuslar-content{
	display: block;
}
#oteller-content{
	position: absolute;
	z-index: 1;
	display: none;
	margin-top: -15px;
	margin-left: -10px;
	width: 100px;
}
.oteller-li:hover #oteller-content{
	display: block;
}
#tatilönerileri-content{
	position: absolute;
	z-index: 1;
	display: none;
	margin-top: -15px;
	margin-left: -10px;
	width: 100px;
}
.tatilönerileri-li:hover #tatilönerileri-content{
	display: block;
}